.admin-terminal-payment-containers {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.tab-of-admin-payment {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 13px 10px 3px 10px;
    border-radius: 20px;
    border: 1px solid #4444AA;
    background-color: #4444AA;
    position: absolute;
    left: 50%;
    margin-top: 100px;
    transform: translateX(-50%);
    text-align: center;
    cursor: pointer;
}

.tab-container-of-finance-payment-summary,
.tab-container-of-review-payments,
.tab-container-of-payment-history {
    font-family: "Sansation-Bold", sans-serif;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 38px;
    width: 200px;
    background-color: white;
    color: darkgray;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 0 15px;
    margin: 0 10px 10px 10px;
    text-align: center;
    cursor: pointer;
}

.tab-container-of-finance-payment-summary.active,
.tab-container-of-review-payments.active,
.tab-container-of-payment-history.active {
    color: black;
}

.tab-container-of-finance-payment-summary:not(.active),
.tab-container-of-review-payments:not(.active),
.tab-container-of-payment-history:not(.active) {
    color: darkgray;
}

.table-of-payment-history {
    margin-top: 250px;
    width: 90%;
    font-family: "Sansation-Bold", sans-serif;
    margin-left: 80px;

}

.table-of-payment-history th {
    font-size: 15px;
    font-family: "Sansation-Bold", sans-serif;
}


.table-of-payment-history td {
    font-size: 15px;
    font-family: "Sansation-Bold", sans-serif;
}

.btn-confirm .tab-of-admin-payment {
    font-family: "Sansation-Bold", sans-serif;
    color: green;
    height: 30px;
    width: 80px;
    background-color: var(--harlequin-2);
    border-color: lightgreen;
    border-radius: 4px;
}

:root {
    --harlequin-2: rgba(68, 213, 0, 0.109);
}

.summary-of-payment {
    margin-top: 250px;
    text-align: left;
    align-items: center;
    justify-content: center;
    display: flex;
}

.summary-of-total-funds,
.total-funds-of-payment-summary {
    display: block;
    margin-left: 50px;
    margin-top: 20px;
}

.summary-of-payment-box-1 {
    margin-right: 0px;
    width: 817px;
    height: 180px;
    display: block;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 34px;
    padding: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}



.summary-of-total-funds {
    font-family: "Sansation-Bold", sans-serif;
    margin-bottom: 70px;
    font-size: 30px;
}

.total-funds-of-payment-summary {
    font-family: "Sansation-Bold", sans-serif;
    font-size: 24px;

}

.summary-of-total-fees,
.total-fees-of-payment-summary {
    display: block;
    margin-left: 50px;
    margin-top: 20px;
}

.summary-of-total-fees {
    font-family: "Sansation-Bold", sans-serif;
    margin-bottom: 70px;
    font-size: 30px;
}

.total-fees-of-payment-summary {
    font-family: "Sansation-Bold", sans-serif;
    margin-bottom: 70px;
    font-size: 24px;
}

.summary-of-payment-box-2 {
    margin-top: 40px;
    margin-bottom: 50px;
    width: 817px;
    height: 180px;
    display: block;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 34px;
    padding: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.search-bar-and-table {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.payments-payout-id-icon,
.payments-review-seller-name {
    margin-right: 10px;
    height: 20px;
    width: 20px;
}

.admin-terminal-search-bar-payout-id.payments-payout-id-icon,
.admin-terminal-search-bar-review-payment-seller-name.payments-review-seller-name {
    display: inline-block;
    vertical-align: middle;
}

.admin-terminal-search-bar-payout-id{
    display: flex;
    align-items: center;
    height: 38px;
    width: 220px;
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 0 15px;
    margin: 0 10px 10px 10px;
}

.admin-terminal-search-bar-review-payment-seller-name{
    display: flex;
    align-items: center;
    height: 38px;
    width: 400px;
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 0 15px;
    margin: 0 10px 10px 10px;
}

.admin-terminal-payment-review-seller-name{
    border: none;
    outline: none;
    font-family: "Sansation-Bold", sans-serif;
    font-size: 16px;
    color: black;
}

.admin-terminal-payments-payout-id{
    border: none;
    outline: none;
    font-family: "Sansation-Bold", sans-serif;
    font-size: 16px;
    color: black;
}

.admin-payments-review-filter-search{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 38px;
    width: 40px;
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 0 15px;
    margin: 0 10px 10px 10px

}

.admin-payments-review-filter-search.payments-review-search{
    height: 18px;
    width: 18px;
}

.btn-payment-review-search-admin-terminal{
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 11px;
    cursor: pointer;
}

.search-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 13px 10px 3px 10px;
    border-radius: 20px;
    border: 1px solid #4444AA;
    background-color: #4444AA;
    position: absolute;
    left: 50%;
    margin-top: 220px;
    transform: translateX(-50%)

}


.table-of-review-payment{
    width:90%;
    margin-top:350px
}