.homescreen {
  display: flex;
  flex-direction: column;
  min-height: 375vh;
}

.homescreen-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 30px;
  gap: 100px;

}


/* All 6 Tiles of Location */

.hsc-p-location h1 {
  font-family: "Sansation-Bold", sans-serif;
  font-size: 34px;
}

.hscpl-all-tiles {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 10px;
}

.hsc-pla-tile-1-3 {
  display: flex;
  flex-direction: row;
  object-fit: cover;
  gap: 30px;
}

.hsc-pla-tile1-img {
  height: 266px;
  width: 342px;
  opacity: 1;
  -webkit-transition: .2s ease-in-out;
  transition: .3s ease-in-out;
  cursor: pointer;

}

.hsc-pla-tile1-img:hover {
  opacity: .8;
}


.hsc-pla-tile2-img {
  height: 266px;
  width: 342px;
  opacity: 1;
  -webkit-transition: .2s ease-in-out;
  transition: .3s ease-in-out;
  cursor: pointer;
}

.hsc-pla-tile2-img:hover {
  opacity: .8;
}


.hsc-pla-tile3-img {
  height: 266px;
  width: 342px;
  opacity: 1;
  -webkit-transition: .2s ease-in-out;
  transition: .3s ease-in-out;
  cursor: pointer;
}


.hsc-pla-tile3-img:hover {
  opacity: .8;
}

.hsc-pla-tile-4-6 {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.hsc-pla-tile4-img {
  height: 266px;
  width: 342px;
  opacity: 1;
  -webkit-transition: .2s ease-in-out;
  transition: .3s ease-in-out;
  cursor: pointer;
}

.hsc-pla-tile4-img:hover {
  opacity: .8;
}

.hsc-pla-tile5-img {
  height: 266px;
  width: 342px;
  opacity: 1;
  -webkit-transition: .2s ease-in-out;
  transition: .3s ease-in-out;
  cursor: pointer;
}

.hsc-pla-tile5-img:hover {
  opacity: .8;
}

.hsc-pla-tile6-img {
  height: 266px;
  width: 342px;
  opacity: 1;
  -webkit-transition: .2s ease-in-out;
  transition: .3s ease-in-out;
  cursor: pointer;
}

.hsc-pla-tile6-img:hover {
  opacity: .8;
}

/* Browse by Property Type */


.hsc-browseby-property-t {
  display: flex;
  flex-direction: column;
}

.hsc-brows-pro-wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-top: 10px;
}

.homescreen-content h1 {
  font-family: "Sansation-Bold", sans-serif;
  font-size: 34px;
}


.hsc-browseby-property-t h2 {
  font-family: "Sansation-Bold", sans-serif;
  font-size: 24px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.hsc-browseby-property-t h3 {
  font-family: "Sansation-Regular", sans-serif;
  font-size: 20px;
  margin-top: 10px;
  color: #ADADAD;
}

.hsc-bbptw-tile1 {
  cursor: pointer;
}

.hsc-bbptw-tile2 {
  cursor: pointer;
}


.hsc-bbptw-tile3 {
  cursor: pointer;
}


.hsc-bbptw-tile4 {
  cursor: pointer;
}



.hsc-bbptw-tile1-img {
  height: 197px;
  width: 252px;
  opacity: 1;
  -webkit-transition: .2s ease-in-out;
  transition: .3s ease-in-out;
}


.hsc-bbptw-tile1-img:hover {
  opacity: .8;
}


.hsc-bbptw-tile2-img {
  height: 197px;
  width: 252px;
  opacity: 1;
  -webkit-transition: .2s ease-in-out;
  transition: .3s ease-in-out;
}


.hsc-bbptw-tile2-img:hover {
  opacity: .8;
}



.hsc-bbptw-tile3-img {
  height: 197px;
  width: 252px;
  opacity: 1;
  -webkit-transition: .2s ease-in-out;
  transition: .3s ease-in-out;
}


.hsc-bbptw-tile3-img:hover {
  opacity: .8;
}



.hsc-bbptw-tile4-img {
  height: 197px;
  width: 252px;
  opacity: 1;
  -webkit-transition: .2s ease-in-out;
  transition: .3s ease-in-out;
}


.hsc-bbptw-tile4-img:hover {
  opacity: .8;
}


/* Get inspiration for your next accommodation */

.hsc-getinsp-blog {
  display: flex;
  flex-direction: column;
  text-align: end;

}

.hsc-getinsp-blog h1 {
  text-align: left;
}

.hsc-getins-b-carousel-wrapper {
  display: flex !important;
  gap: 30px;
}

.hsc-getinsp-b-carousel p {
  font-family: "Sansation-Regular", sans-serif;
  font-size: 18px;
  text-align: left;
}


.hsc-getinsp-b-carousel {
  display: flex;
  flex-direction: row;
  border-radius: 12px;
  background-color: #f0f0f0;
  padding: 20px;
  margin-top: 10px;
}

.hsc-bbptw-b-cw-img {
  height: 342px;
  width: 625px;
}


.homescreen-carousel {
  max-width: 1080px;
  display: flex;
  flex-direction: row;
}

.hsc-getins-b-button {
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: inherit;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: -65px;
  cursor: pointer;

}

.hsc-getins-b-button-img{
  height: 80px;
  width: 80px;
  cursor: pointer;
}

.hsc-getins-b-button-lft {
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: inherit;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: -65px;
  cursor: pointer;

}

.hsc-getins-b-button-img-lft{
  height: 80px;
  width: 80px;
  cursor: pointer;
}


.hsc-bbptw-Read-More{
  font-family: "Sansation-Bold", sans-serif;
  font-size: 16px;
  background-color: #4444AA;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  padding: 8px 16px;
  cursor: pointer;;
  margin-top: 15px;
  width: 124px;
  height: 39px;
}
