@font-face {
  font-family: "Sansation-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("https://fonts.animaapp.com/Sansation-Bold") format('truetype');
}

.admin_nav {
  overflow-x: hidden;
}

.admin_navbar {
  display: flex;
  width: 100%;
  padding: 20px 28px 0px 24px;
  background-color: #30379B;
  background-size: cover;
}

.admin_navContainer {
  width: 100%;
  color: aliceblue;
  align-items: center;
  margin-top: 2px;
  justify-content: space-between;
  align-items: flex-start;
} 

.admin_navbar-logo-container {
  position: relative;
  align-items: center;
}

.admin_navbar-logo-and-text {
  display: flex;
  align-items: center;
  margin-right: 16px;
}

.admin_navbar-logo {
  margin-left: 40px;
  height: 50px;
  width: 176px;
}

.admin_navbar-text {
  flex-grow: 1;
  text-align: center;
}

.admin_navbar-text h1 {
  font-family: "Sansation-Bold", sans-serif;
  font-size: 36px;
  text-align: center;
  margin-right: 162px;
  margin-top: 2px;
}

.user_icon {
  display: flex;
  align-items: center;
}

.user {
  color: white;
  height: 46px;
  width: 53px;
  margin-top: 2px;
  margin-right: 40px;
}

