.containerAvi {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.containerAvi>div {
    width: 90px;
    height: 90px;
    margin: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4444AA;
    border-radius: 5px;
    text-align: center;
    position: relative;
    /* add position relative for absolute positioning */
}

.iconavi {
    position: absolute;
    top: 15%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 17px ;
}

.ViewCountsAvi {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    font-family: "Sansation-Bold", sans-serif;
}

.RevenueAvi {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    font-family: "Sansation-Bold", sans-serif;
}
.FeesAvi {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    font-family: "Sansation-Bold", sans-serif;
}

.ProfitAvi {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    font-family: "Sansation-Bold", sans-serif;
}

.PerformanceOverviewAvi {
    background-color: #F0F0F0;
    border-radius: 5px;
    padding: 5px;
    vertical-align: center;
    font-family: "Sansation-regular";
    width: 560px;
    height: 230px;
    margin-top: 1px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
.PerformanceOverviewAvi th {
    font-family: "Sansation-Bold", sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    background-color: #4444AA;
    padding-top: 5px;
    padding-bottom: 5
}


.PerformanceOverviewAvi td {
    font-family: "Sansation-Bold", sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 0.01px solid #000000;

}

.GenerateReportButtonAvi {
    background-color: #4444AA;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 3px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 4px;
    cursor: pointer;
    position: absolute;
    top: 104%;
    left: 50%;
    transform: translate(-50%);

}