@font-face {
    font-family: "Sansation-Bold";
    font-style: normal;
    font-weight: 700;
    src: url("https://fonts.animaapp.com/Sansation-Bold") format('truetype');
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    background-color: #30379B;
    background-size: cover;
}

.copyright{
    margin-left: auto;
    margin-right: auto;
}   

.copywrite-txt{
 color: white;
 font-size: 13px;
}  
  