.promotion-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.promotion-container-tab{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 13px 10px 3px 10px;
    border-radius: 20px;
    border: 1px solid #4444AA;
    background-color: #4444AA;
    position: absolute;
    left: 50%;
    margin-top: 100px;
    transform: translateX(-50%);
    text-align: center;
    cursor: pointer;  
}


.create-promotion-tab,
.current-promotion-tab{
    font-family: "Sansation-Bold", sans-serif;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 38px;
    width: 200px;
    background-color: white;
    color: darkgray;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 0 15px;
    margin: 0 10px 10px 10px;
    text-align: center;
    cursor: pointer;
}


.create-promotion-tab.active{
    color: black;
}

.create-promotion-tab:not(.active){
    background-color: white;
    color: darkgray;
}

.current-promotion-tab.active{
    color: black;
}

.current-promotion-tab:not(.active){
    background-color: white;
    color: darkgray;
}

/* .create-promotion-and-current-promotion{
    margin-top:250px;
} */


.current-promotion-table{
    margin-top: 250px;
    width: 90%;
    font-family: "Sansation-Bold", sans-serif;
}
.create-promotion-table th{
    font-size: 15px;
    font-family: "Sansation-Bold", sans-serif;
}

.create-promotion-table td{
    font-size: 15px;
    font-family: "Sansation-Bold", sans-serif;
}




:root {
    --red-2: rgba(299,4,4,0.108);
    --harlequin-2: rgba(68,213,0,0.109);
    
  }
  .btn-edit-promotion-by-seller{
    font-family: "Sansation-Bold", sans-serif;
    color: green;
    height:30px;
    width:80px;
    background-color:var(--harlequin-2);
    border-color: lightgreen;
    border-radius: 4px;
  }

.btn-delete-promotions-by-seller{
    font-family: "Sansation-Bold", sans-serif;
    color: red;
    height:30px;
    width:80px;
    background-color: var(--red-2);
    border-color: red;
    border-radius: 4px;
}

.swal2-icon.swal2-warning {
  border-color: red;
  color: red;
}

.swal2-title {
  font-family: "Sansation-Bold", sans-serif;
  font-size: 14px;
  color: black;
}

.swal2-html-container {
  z-index: 1;
  justify-content: center;
  margin: 1em 1.6em 0.3em;
  padding: 0;
  overflow: auto;
  color: inherit;
  font-size: 1.125em;
  font-weight: normal;
  line-height: normal;
  text-align: center;
  word-wrap: break-word;
  word-break: break-word;
  color: black;
  font-family: 'Sansation-Bold';
}

.swal2-styled.swal2-cancel {
  border: 0;
  border-radius: 0.25em;
  background: initial;
  background-color: #6e7881;
  color: #fff;
  font-size: 1em;
  font-family: 'Sansation-Bold';
}