@font-face {
  font-family: "Sansation-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("https://fonts.animaapp.com/Sansation-Bold") format('truetype');
}

.searchItem1 {
  position: relative;
  display: flex;
  height: 40px;
  width: 400px;
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 0 15px;
  margin-left: 0;

}

.searchItem2 {
  display: flex;
  align-items: center;
  height: 40px;
  width: 230px;
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 0 15px;
  margin: 0 10px 10px 10px;

}


.searchItem3 {
  display: flex;
  align-items: center;
  height: 40px;
  width: 330px;
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 0 15px;
}


.searchItem4 :hover {
  background-color: #4e86c2;
}

.searchItem:not(:last-child) {
  margin-right: 10px;
}


  .searchInput::placeholder {
    color: black; 
    opacity: 1; 
  }
  


.searchItem1 input {
  border: none;
  outline: none;
  font-family: "Sansation-Bold", sans-serif;
  font-size: 16px;
  color: black;
}

.searchInput {
  width: 100%;
}

.searchInput::placeholder {
  color: black;
  opacity: 1;
}


  .searchText{
    font-family: "Sansation-Bold", sans-serif;
    font-size: 16px;
    width: 100%;
    cursor:pointer;
  }
  
  .options{
    
    position: absolute;
    padding: 20px 6px 20px 6px;
    top: 58px;
    background-color: white ;
    color: black;
    border-radius:5px ;
    -webkit-box-shadow:0px 0px 10px -5px rgba(0,0,0,0.4);
    box-shadow :0px 0px 10px -5px rgba(0,0,0,0.4);
    cursor: pointer;

}
.optionItem{

  width: 210px;
  display: flex;
  justify-content:space-between ;
  margin: 10px;

}

.optionCounter{

  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 15px;
  color: black;
}

.optionCounterButton{

  width :40px;
  height: 40px;
  border :1px solid gray;
  color : #4444AA;
  cursor: pointer;
  background-color: white;


}

.optionCounterButton:disabled{
  cursor: not-allowed;
}


.search {
  display: flex;
  padding: 15px 10px 5px 10px;
  border-radius: 20px;
  border: 1px solid white;
  position: absolute;
  left: 50%;
  margin-top: 100px;
  transform: translateX(-50%);
}

.icon-input-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 14px;
}

.icon-people-warapper {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 14px;
  width: 100%;
}

.icon-date-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 14px;
}

.searchText {
  font-family: "Sansation-Bold", sans-serif;
  font-size: 16px;
  width: 100%;
}


.customRangePicker .ant-picker-input>input::placeholder {
  font-family: "Sansation-Bold", sans-serif;
  font-size: 16px;
  color: black;
}

.customRangePicker {
  border: none;
}

.customRangePicker .ant-picker-input {
  width: auto;
}

.btn-search {
  display: flex;
  align-items: center;
  font-family: "Sansation-Bold", sans-serif;
  font-size: 16px;
  background-color: #FFFFFF;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 11px;
   height: 40px;
  padding: 0 15px;
  margin-left: 0.8rem;
  cursor: pointer;
}

.optionbtn{

  margin-top: 20px;
}

.btn-done{
  font-family: "Sansation-Bold", sans-serif;
  font-size: 16px;
  background-color: #30379a;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  width: 210px;
  margin-left: 0.8rem;
  cursor: pointer;
}