.list_container {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
    align-items: center;
}

.listitem {
    display: flex;
    justify-content: center;
    gap: 80px;
    cursor: pointer;
}

.adminlistItem {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100px;
    width: 90px;
    border-radius: 5px;
    gap: 80px;
    font-size: 28px;
    padding: 10px;
    cursor: pointer;
}

.adminlistItem h1 {
    font-family: "Sansation-Bold", sans-serif;
    font-size: 14px;

}

.adminlistItem:hover {
    background-color: #3a7cc2;
    border-radius: 5px;
    height: 90px;
    width: 90px;
    padding: 10px;
  }
  