.seller-central-payments-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seller-payment-tab-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 13px 10px 3px 10px;
    border-radius: 20px;
    border: 1px solid #4444AA;
    background-color: #4444AA;
    position: absolute;
    left: 50%;
    margin-top: 100px;
    transform: translateX(-50%);
    text-align: center;
    cursor: pointer;;
}

.seller-central-funds-tab{
    font-family: "Sansation-Bold", sans-serif;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 38px;
    width: 200px;
    background-color: white;
    color: darkgray;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 0 15px;
    margin: 0 10px 10px 10px;
    text-align: center;
    cursor: pointer;
}

.seller-central-payments-tab{
    font-family: "Sansation-Bold", sans-serif;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 38px;
    width: 200px;
    background-color: white;
    color: darkgray;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 0 15px;
    margin: 0 10px 10px 10px;
    text-align: center;
    cursor: pointer;
}


.funds-and-payments-methods{
    margin-top: 250px;
}

.seller-central-funds-tab.active{
    color: Black;
}

.seller-central-funds-tab:not(.active){
    background-color: white;
    color: darkgray;
}

.seller-central-payments-tab.active{
    color: Black;
}

.seller-central-payments-tab:not(.active){
    background-color: white;
    color: darkgray;
}
