.seller-central-properties-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: none;
}

.seller-central-property-tab{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 13px 10px 3px 10px;
    border-radius: 20px;
    border: 1px solid #4444AA;
    background-color: #4444AA;
    position: absolute;
    left: 50%;
    margin-top: 100px;
    transform: translateX(-50%);
    text-align: center;
    cursor: pointer;
}

.seller-central-create-property-tab-container{
    font-family: "Sansation-Bold", sans-serif;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 38px;
    width: 200px;
    background-color: white;
    color: darkgray;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 0 15px;
    margin: 0 10px 10px 10px;
    text-align: center;
    cursor: pointer;
}

.seller-central-current-property-tab-container{
    font-family: "Sansation-Bold", sans-serif;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 38px;
    width: 200px;
    background-color: white;
    color: darkgray;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 0 15px;
    margin: 0 10px 10px 10px;
    text-align: center;
    cursor: pointer;
}

.seller-central-create-property-tab-container.active {
    color:black;
}

.seller-central-current-property-tab-container.active{
    color:black;
}

.seller-central-create-property-tab-container:not(.active){
    background-color: white;
    color: darkgray;
}

.seller-central-current-property-tab-container:not(.active){
    background-color: white;
    color: darkgray;
}


.seller-central-current-property{
    margin-top: 250px;
}

.seller-central-create-property{
    text-align: center;
}